@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: linear-gradient(79deg, #0EA293, #B9EDDD , #0EA293);
}

h1, h4, p,
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn {
    padding: 10px 28px;
    font-size: 1rem;
    text-transform: uppercase;
    background: transparent;
    color: #A4BC92(151, 3, 3);
    border: 1px solid black;
    font-weight: 500;
    cursor: pointer;
    background-color: #A4BC92;
    transition: color 0.3s ease;
}

.btn:hover {
    color: #D6E8DB;
}
